<a href="https://colab.research.google.com/github/Navenkumar-Balasubramaniam/00-General/blob/main/01%20Python%20API%20Project/01_bookapi_database.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip -q install flask cloudflared

  Preparing metadata (setup.py) ... done
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 63.0/63.0 kB 2.6 MB/s eta 0:00:00
  Building wheel for cloudflared (setup.py) ... done

The ! lets us run shell commands in Google Colab.

pip install adds two Python packages:

Flask → the micro web framework we’ll use to build a REST API.

cloudflared → lets us create a free, temporary public URL (a “tunnel”) so the API notebook can be reached from the second notebook.

-q just makes the install quieter (less output).

In [2]:
import sqlite3, os

Imports the built-in SQLite library (no need to install anything) to manage a small file-based database.

Imports os to handle file paths cleanly.

In [3]:
con = sqlite3.connect('db.sqlite'); cur = con.cursor()

Opens (or creates) a file named db.sqlite.

Returns a connection object (con) and a cursor (cur) used to send SQL commands to the database.

In [4]:
cur.execute("CREATE TABLE IF NOT EXISTS books(id INTEGER PRIMARY KEY, title TEXT, author TEXT, year INTEGER)")

Runs an SQL command to create a table named books if it doesn’t already exist.

The table columns are:

id (integer primary key — unique ID for each book)

title (text)

author (text)

year (integer)

In [6]:
seed = [(1,'1984','George Orwell',1949),(2,'Dune','Frank Herbert',1965)]

A simple list of tuples — our sample data (two classic books).

In [7]:
cur.executemany("INSERT OR IGNORE INTO books VALUES(?,?,?,?)", seed)

Adds both records into the table.

INSERT OR IGNORE ensures we don’t insert duplicates if this cell runs more than once.

? placeholders protect against SQL injection and handle data safely.

In [8]:
con.commit(); con.close()
print("SQLite ready at", os.path.abspath("db.sqlite"))

SQLite ready at /content/db.sqlite

Saves all changes to disk.

Closes the connection cleanly (good practice).

Confirms that our SQLite database file was created and shows its absolute path (useful for debugging or referencing later).